body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
.btn-modern{
    padding: 10px 20px;
    border: none;
    color: white;
    background: black;
    border-radius: 3px;
    transition: 0.4s all;
}
.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 5px grey;
    background: lightgray;
    color: black;
}