.item{
    background-color: darkgrey;
    margin: 5px;
}
section{
    background-color: darkcyan;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main{
    background-color: darkcyan;
    padding: 5px;
    flex-grow: 1;
}
div.container{
    display: flex;
    gap: 10px;
}
@media (max-width: 640px){
    div.container{
        flex-direction: column-reverse;
    }
    section{
        flex-direction: row;
    }
}